@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  font-family: 'Manrope';
}

body {
  background-color: black;
  color: aliceblue;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#price {
  font-size: 20px;
}

#check_price {
  margin-top: 10px;
}

#open_feedback {
  position: absolute;
  bottom: 0;
  right: 0;
}
